/*Цвет основного текста  #757575;*/
/*Вторичный цвет текста #212121;*/
/*Основной цвет bgc  #FFFFFF;*/
/*Вторичный цвет bgc #2F303A;*/
/* Bgc комманды #F5F4FA;*/
/*Синий цвет (Accent) #2196F3;*/
/*Белый цвет с прозрачностью #FFFFFF99;*/



:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --white-transparent-color: rgba(255, 255, 255, 0,6);
}

body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
   

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/* Header */

.page-header {
    

    border-bottom: 1px solid #ECECEC;
    
    
}

.container {

    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    


}
/* Logo и footer-logo */
.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;



    


}
.logo > span {
    color: #000000;
    font-family: 'Raleway', sans-serif;
}
.footer-logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;
}
.footer-logo > span {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}




/* Ссылки на тел и почту */
.phone-link:focus,
.mail-link:focus {
    color: var(--accent-color);
}
.phone-link:hover,
.mail-link:hover {
    color: var(--accent-color);
}
.phone-link,
.mail-link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;

}

/* Main-nav */

.main-nav {
    display: flex;
    align-items: center;
    
}

/* Site-nav */
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--title-text-color);
    text-decoration: none;

    display: block;

    padding: 32px 0px;
}
.site-nav .link:hover {
    color: var(--accent-color);
}
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;


    list-style: none;
    display: flex;
    align-items: center;


}
.site-nav > .item{
    margin-right: 50px;
    padding: 0;
    

}
.site-nav > .item:last-child {
    margin: 0;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
}

.navbar > .logo {
    padding: 0;
    margin-right: 93px;
    list-style: none;
}

.item {
    display: block;
}

 .head-contacts {
    display: flex;
    margin-left: auto;

 }

.head-contacts > .item {
    margin-right: 50px;
} 

.head-contacts > .item:last-child {
    margin-right: 0;
}

/* Другорядные заголовки */

.features-title,
.about-title,
.team-title,
.team-name {
    color: var(--title-text-color);
}

/* Section Hero */

.section.hero {
    background-color: #2F303A;
    border-radius: 0px;
    text-align: center;  
    padding-top: 200px;
    padding-bottom: 200px;
}

.container.hero {
    text-align: center;
}

/* Главный заголовок */

.hero-title {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    
    padding: 0;

    max-width: 696px;

}


/* Особенности */

.section.features {
    text-align: center;

}

.features-content {
    display: flex;
    align-items: center;
}

.features-items {
    align-items: center;
    
    
}

.features-items > li {
    width: 270px;
}

.features-items > .item {
    margin-right: 30px;
}
.features-items .item:last-child {
    margin-right: 0;
}

.features-content > li {
    margin-right: 30px;
}
.features-content > li:last-child {
    margin-right: 0;
}
.features-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;

    


}

.features-descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    padding: 0;
    

}


/* Чем мы занимаемся */




.section.about {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;

    
   
   
    border-radius: 0px;
    text-align: center;

}

.about-title {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;


    
    padding-top: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;


}
img {
    display: block;
}
.images-list img {
    display: block;
}

.images-list > .img {

    width: 370px;
}
.images-list > .img {
    margin-right: 30px;
}
.images-list > .img:last-child {
    margin-right: 0;
}
/* Наша команда */

.section.team {
    background-color:  #F5F4FA;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;

}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;




}
.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.12;
    text-align: center;
    margin-bottom: 10px;
    
}
.name-descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    text-align: center;
    
    margin-top: 0;
}


.photo-list.img {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;

}
.photo-list > li {
    margin-right: 30px;
    background-color: #FFFFFF;

    width: 270px;

}
.photo-list > li:last-child {
    margin-right: 0;
}

.photo-descr {

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: auto;
    padding-left: auto;
}

/* Footer */

.footer {
    display: list-item;
    background-color: #2F303A;
    margin-top: 0;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-logo {
    width: 145px;
    text-align: left;
    border-radius: nullpx;

}

.address {
    margin-top: 20px;
}

.footer-mail,
.footer-tel {
    color: #FFFFFF99;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    text-align: left;

}
.footer-mail:focus,
.footer-tel:focus {
    color: var(--accent-color);
}
.footer-mail:hover,
.footer-tel:hover {
    color: var(--accent-color);
}
.address-physical {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;

    margin-bottom: 9px;


}

.address-list {
    flex-direction: column;
}


.address-list > li {
    margin-bottom: 9px;
}
.address-list > li:last-child{
    margin-bottom: 0;
}
/* Buttons */

.button.primary {
    display: inline-block;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    
    height: 50px;
    min-width: 200px;
    left: 700px;
    top: 430px;
    border-radius: 4px;  
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


}


.button.primary:hover,
.button.primary:focus {
    background-color: var(--accent-color);
}
.button.secondary {
    color: var(--title-text-color);
    background-color: #F5F4FA;;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;

}
.button.secondary:hover,
.button.secondary:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}







/* Portfolio */


.list-buttons > .item {

    margin-right: 8px;
}

.list-buttons > .item:last-child {
    margin-right: 0;
}
.list-buttons {
    display: flex;
    margin: auto;
    
    padding-top: 0;
    margin-bottom: 50px;
}

.project-title {
    color: var(--title-text-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0;
    text-align: left;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    
}
.link-project {
    text-decoration: none;
}
.project-descr {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    text-align: left;
    

}


.container.portfolio > .projects {
    display: flex;
    flex-wrap: wrap;
  
}

.container.portfolio {
    display: flex;
    flex-wrap: wrap;
    

}

.projects > .item:nth-child(-n + 9) {
    margin-right: 30px;
}

.projects > .item:nth-child(3n + 3) {
    margin-right: 0;
}

.projects > .item:nth-child(-n + 6) {
    margin-bottom: 30px;
}
.projects > .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.projects > li {
    width: 370px;
}

.projects-lower {
    padding: 20px 24px;
    text-align: left;

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}